body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
img {
  max-width: 100%
}
h1{
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.624rem;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
}
h2, h3{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none ;
  width: 5%;
}
.profile{
  width: 25%;
  margin: 100px auto;
}
.intro{

}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}
.skill-row img{
  width: 25%;
  border-radius: 50%;
}
.code-img{
  float: left;
  margin-right: 30px;
}
.chilli-img{
  float: right;
  margin-left: 30px;
}
.contact-me{
  width: 49%;
  margin: 100px auto;
}
.btn {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 100;
  padding: 10px 30px;
  background-color: #4AC3C3;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
   background: #27CFCF;
   text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0;
}
.footer-link{
  color: #11999E;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  font-family: sans-serif;
}
.copyright{
  color: #EAF6F6;
  font-size: 15px;
  padding: 20px 0;
}
